<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
        <link rel="stylesheet" href="./index.less"/>

        <link rel="icon" href="../../assets/favicon.ico" type="image/x-icon"/>

        <title>VaxxWatch</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Tracking and highlighting anti-vaxx activity across the globe"/>
    </head>

    <body>
        <header>
            <div>
                <h1>Vaxx Watch</h1>
            </div>
        </header>
        
        <main>
            <div id="root"></div>
        </main>
        
        <footer>
            <div>
                <p>This site is under construction...</p>
            </div>
        </footer>

        <script src="../index.js"></script>
    </body>
</html>